body {
    font-family: "Consolas", monospace;
    font-weight: 400;
    font-size: 20px;
    background-color: #2d2d2d;
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #1c1c1c;
    border-radius: 15px;
}

.title {
    font-weight: 800;
    font-size: 30px;
    color: white;
}

.large-text {
    font-weight: 300;
    font-size: 20px;
    color: white;
}

.main-content {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #292929;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.text {
    font-size: 24px;
    font-weight: 400;
    color: white;
    margin-bottom: 10px;
}

.light-text {
    font-weight: 300;
    font-size: 18px;
    color: #b5b5b5;
}

.download-buttons {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.border-button {
    padding: 10px 20px;
    background-color: #292929;
    border: 1px solid #454545;
    color: white;
    border-radius: 15px;
    text-decoration: none;
    transition: background-color 0.1s ease;
}

.border-button:hover {
    background-color: #3e3e3e;
}


footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #898989;
    background-color: #1c1c1c;
    border-top: 1px solid #454545;
}


/* Overlay styles */
.overlay {
    display: flex; /* Hidden by default */
    position: fixed; 
    top: 100%; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0);
    justify-content: center; 
    align-items: center; 
    z-index: 1000; 
    transition: 0.5s ease-in-out;
}

.overlay-content {
    background-color: #2d2d2d;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    color: white;
}

.close-button {
    background-color: #101010;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    float: right;
}

.close-button:hover {
    background-color: #363636;
}
